<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/users/<%currentUser._id%>">My Lists</a>
      </div>
      <h1>Create a new Wishlist</h1>
    </header>
    <main>
      <form action="/lists" method="POST">
        <label for="title">Title this list:</label>
        <input type="text" name="title" placeholder="name this list" />
        <label for="listType">Type of List:</label>
        <select name="listType">
          <option value="" disabled selected>Whats the occasion?</option>
          <option value="Christmas">Christmas</option>
          <option value="Birthday">Birthday</option>
          <option value="Registry">Registry</option>
        </select>
        <button class="my-btn" type="submit" value="Create List">Create List</button>
      </form>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
