<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <header>
      <h1>Wishlist</h1>
      <nav>
        <a href="/">Home</a> 
      </nav>
    </header>

<!-- List of all alabama users -->

  </body>
</html>