<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <header class="home-header">
      <h1 class="home-title">Wishlist : Perez Family Edition</h1>
      <div class="nav">
        <a href="/users/new">Register for new Account</a>
      </div>
    </header>
    <main class="home-main">
      <section class="giftbox-container">
        <div id="giftbox1" class="gift gift-even"></div>
        <div id="giftbox2" class="gift gift-odd"></div>
        <div id="giftbox3" class="gift gift-even"></div>
        <div id="giftbox4" class="gift gift-odd"></div>
      </section>
      <section class="form-container">
        <form action="/sessions" method="POST">
          <input type="text" name="username" placeholder="username" required/>
          <label for="username"></label>
          <input type="password" name="password" placeholder="password" required/>
          <label for="password"></label>
          <button class="teal darken-4 waves-effect waves-light btn" type="submit" value="Enter">Enter</button>
        </form>
      </section>
      <section>
        <% if (error) { %>
          <p><%= message %></p>
        <%}%>
      </section>
    </main>
  </body>
</html>
