<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <header>
      <h1>Welcome to the Blog</h1>
      <nav>
        <ul>
          <li>
            <a href="/lists">Lists</a>
          </li>
          <li>
            <a href="/gifts">Gifts</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
