@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Homemade+Apple&family=Montserrat:wght@300;400;600&family=Nunito:wght@300&family=Overpass:wght@100;300;400&display=swap");

body {
  margin: 0 100px;
  background-color: #f6f6f6;
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: #d9d8d2;
  min-height: 30vh;
  padding: 20px;
}


a {
  color: #004d40;
  text-decoration: none;
}

.my-btn {
  font-size: 18px;
  font-weight: 300;
  padding: 8px 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #004d40;
  background-color: #d9d8d2;
  color: #004d40;
  margin: 10px 0px;
  display: inline-block;
}

.my-btn:hover {
  color: #d9d8d2;
  border: 1px solid #004d40;
  background-color: #004d40;
}

.menu-link {
 display: block;
 font-size: 1.2rem;
}
/* HomePage Styles */

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.home-header {
  padding: 20px;
}

.home-title {
  font-size: 2rem;
  font-family: "Satisfy", cursive;
}

.giftbox-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift {
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  margin: 0 20px;
}

.gift-even {
  background-image: url("../img/box1.png");
}

.gift-odd {
  background-image: url("../img/box2.png");
}

/* end home */

/* All Forms */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 200px;
  padding: 10px;
}

input:focus {
  border-bottom: 1px solid #004d40 !important;
  box-shadow: 0 1px 0 0 #004d40 !important;
}

/* end of forms */

.family-names {
  font-size: 1.3rem;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px
}
/* gift cards */

.mosaic {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.gift-image {
  height: 250px;
}

.gift-item {
  margin-right: 20px;
}

.card {
  width: 250px;
}

.card-content {
  padding: 10px !important;
}

.card-action {
  padding: 10px !important;
}

.card-title {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px !important;
  margin-bottom: 10px;
}

.purchase-box {
  padding: 10px;
}

.purchase-message {
  color: rgba(159, 19, 68, 0.848);
}

.list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #004d40;
  width: fit-content;
}

.list-description {
  height: 100px;
  width: 200px;
  background-color: #d9d8d2 !important;
  color: #004d40 !important;
  padding: 10px;
  /* margin: 10px 0; */
}

.list-description p {
  font-size: 1.5rem;
}

.list-img {
  height: 100px;
  width: 100px;
  border-left: 1px solid #004d40;
  background-image: url("../img/bows.jpeg");
  background-size: cover;
}

/* end of gift card */

.giftee {
  width: 200px;
  height: 200px;
  font-size: 1rem;
}

.envelope-container {
  position: relative;
}

.bow {
  height: 100px;
  width: 100px;
  background-image: url("../img/bow.png");
  background-size: cover;
  position: absolute;
  left: 130px;
}

.gift-details {
  background-color: rgba(0,77,64, .25);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.gift-details-img {
  background-color: green;
  height: 300px;
  margin-left: 20px;
}

.gift-details h4 {
  margin: 0 0 10px 0;
  color: white;
}


/* MEDIA QUERY MOBILE STYLES */

@media only screen and (max-width: 600px) {
  body {
    margin: 0 15px;
  }
  .gift {
    width: 40px;
    height: 40px;
  }
  .giftbox-container {
    justify-content: space-around;
  }
  .my-btn {
    color: #d9d8d2;
    border: 1px solid #004d40;
    background-color: #004d40;
  }
  .mosaic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Fade in animation at landing page */

#giftbox1 {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

#giftbox2 {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

#giftbox3 {
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

#giftbox4 {
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
