<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Create an Article</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/articles">Articles Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/articles" method="POST">
        <!-- This is the new code -->
        <select name="authorId" class="browser-default">
          <% for(let i = 0; i < authors.length; i++) { %>
          <option value="<%= authors[i]._id %>"><%= authors[i].name %></option>
          <% } %>
        </select>
        <!-- end of new code -->
        <label for="title">Title:</label>
        <input type="text" name="title" /><br />
        <label for="body">Body:</label>
        <textarea name="body"></textarea><br />
        <input type="submit" value="Publish Article" />
      </form>
    </main>
  </body>
</html>
