<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Lists</h1>
      <div class="nav">
        <ul>
          <li>
            <a href="/sessions/delete">Log Out</a>
          </li>
          <li>
            <a href="/lists/new/">Create a new Wishlist</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <h2>All Lists</h2>
      <ul>
        <% for(let i = 0; i < lists.length; i++){ %>
        <li>
          <a href="/lists/<%= lists[i]._id %>"><%= lists[i].name %></a>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
