<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/users/<%=currentUser._id%>">My Profile</a>
      </div>
      <h1>Family</h1>
    </header>
    <main>
      <P>My Family</P>
      <% family.forEach( member => { %>
      <div>
        <a href="/users/<%=member._id%>"><%= member.name %></a>
      </div>
      <% }) %>
    </main>
  </body>
</html>
