<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Create a Profile</h1>
      <div class="nav">
        <p>Already have one?</p>
        <a href="/">Log In</a>
      </div>
    </header>
    <main>
      <div class="form-container">
        <form action="/users" method="POST">
          <label for="name">Name:</label>
          <input type="text" name="name" placeholder="what should we call you?" />
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="username" />
          <label for="name">Password:</label>
          <input
            type="password"
            name="password"
            placeholder="choose something easy to remember"
          />
          <label for="address">Delivery Address:</label>
          <input
            type="text"
            name="address"
            placeholder="where should we send your gifts?"
          />
          <button class="teal darken-4 waves-effect waves-light btn" type="submit" value="Create User">Create User</button>
        </form>
      <div>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let elems = document.querySelectorAll("select");
        let instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
