<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1><%= user.name %></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/users">Family Page</a>
        <a href="/users/<%=user._id%>/edit">Edit Profile</a>
      </nav>
    </header>
    <main>
      <section>
        
      </section>
    </main>
  </body>
</html>