<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Gifts</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/gifts/new">Create a new Gift</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Gift of Gifts</h2>
      <ul>
        <% for(let i = 0; i < gifts.length; i++){ %>
        <li>
          <a href="/gifts/<%=gifts[i]._id%>"><%= gifts[i].title %></a>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
