<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".collapsible");
        var instances = M.Collapsible.init(elems, {});
        let elems2 = document.querySelectorAll("select");
        let instances2 = M.FormSelect.init(elems2, {});
      });
    </script>
  
    <section>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">menu</i>
          </div>
          <div class="collapsible-body">
            <a class="menu-link" href="/sessions/delete">Log Out</a>
            <a class="menu-link" href="/users">Family Page</a>
            <a class="menu-link" href="/users/<%=currentUser._id%>">My Lists</a>
          </div>
        </li>
      </ul>
    </section>

    <main>
      <h1>Create an Item</h1>
      <form action="/gifts/<%=list._id%>" method="POST">

        <label for="name">Item Name:</label>
        <input type="text" name="name" placeholder="A fancy Sweater"/><br />
        
        <label for="retailer">Retailer:</label>
        <input type="text" name="retailer" placeholder="Macy's"/><br />
        
        <label for="url">Purchase Url:</label>
        <input type="text" name="url" placeholder="https://www.macys.com"/><br />
        
        <label for="imageUrl">Image Url:</label>
        <input type="text" name="imageUrl" placeholder="copy an image URL here (optional)"/><br />
        
        <label for="details">Details:</label>
        <textarea type="text" name="details" placeholder="size med, color red" ></textarea><br />

        <label for="price">Price:</label>
        <input type="text" name="price" placeholder="45.00"/><br />

        <button class="my-btn" type="submit" >Add Gift</button>
      </form>
    </main>
  </body>
</html>
