<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <div class="nav">
        <a href="/sessions/delete">Log Out</a>
        <a href="/users/<%=currentUser._id%>">My Lists</a>
      </div>
      <h1>Create an Item</h1>
    </header>
    <main>
      <form action="/gifts/<%=list._id%>" method="POST">

        <label for="name">Item Name:</label>
        <input type="text" name="name" placeholder="A fancy Sweater"/><br />
        
        <label for="retailer">Retailer:</label>
        <input type="text" name="retailer" placeholder="Macy's"/><br />
        
        <label for="url">Purchase Url:</label>
        <input type="text" name="url" placeholder="https://www.macys.com"/><br />
        
        <label for="imageUrl">Image Url:</label>
        <input type="text" name="imageUrl" placeholder="copy an image URL here (optional)"/><br />
        
        <label for="details">Details:</label>
        <textarea type="text" name="details" placeholder="size med, color red" ></textarea><br />

        <label for="price">Price:</label>
        <input type="text" name="price" placeholder="45.00"/><br />

        <button class="my-btn" type="submit" >Add Gift</button>
      </form>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, {});
      });
    </script>
  </body>
</html>
